<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This is the page for loading the standard 404 page, will offer redirect to the main page. -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css') }}"/>
    <title>Catalog</title>
</head>
<body>
    <h1>
        I'm sorry it appears the page you are looking for isn't here, requires a user to be logged in, or you lack authorization to edit this page.
        If adding a new item, make sure the name is unique.
    </h1>
    <br>
    <h3><a href="/index">Return Home</a></h3>
</body>