<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css') }}"/>
    <title>Document</title>
</head>
<body>
        </div>
        <div class='main_wrapper'>
            <div class='category_wrapper'>
                <h3>
                    Edit Item
                </h3>
            <div class='display_wrapper'>
            <form action="/edit_final" method="POST">
                <input type="hidden" name="item_being_edited" value={{item_name}}>
                Title: <br>
                <input type="text" name="item_name">
                <br>
                Description: <br>
                <input type="text" name="item_desc">
                <br>
                Category: <br>
                <select name='category'>
                    {% for category in data %}
                        <option value={{category.categoryName}}>{{category.categoryName}}</option>
                    {% endfor %}
                </select>
                <br>
                <input type='submit' value="Submit">
            </form>
        </div>
</body>
</html>