<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css') }}"/>
    <title>Catalog</title>
</head>
<body>
    <div class='header_wrapper'>
        <header>
            <div class='header_text_wrapper'>
                <h1>
                    Catalog App
                </h1>
            </div>
            <!-- This div will check if the user is logged in and provide a login link or logout depending. -->
            <div class = 'login_header_wrapper'>
                    {% if session.get('username') %}
                        <h3>{{session.get('username')}} you are logged in.</h3>
                        <a href="/gdisconnect">Sign Out</a>
                    {% else %}
                        <a href="/login">Login Here</a>
                    {% endif %}
                </div>
        </header>
    </div>
    <div class='main_wrapper'>
        <div class='category_wrapper'>
            <h3>
                Categories
            </h3>
            <nav>
            <!-- This ul displays all available categories. -->
                <ul>
                    {% for item in data %}
                        <li><a href='/{{item.categoryName}}/items'>{{item.categoryName}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class='display_wrapper'>
            <!-- Shows the user the info on the item.  -->
            <h3>
                {{item.title}}
            </h3>
            <p>{{item.description}}</p>
            {% if editable_by_current_user %}
            <a href='/{{item.title}}/edit'>Edit</a>
            <a href='/{{item.title}}/delete'>Delete</a>
            {% endif %}
        </div>
    </div>
</body>
</html>